@model IEnumerable<ACME.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table style="width:720px" border="1">
    <tr>
        <th style="width:110px;">
            Actions
        </th>
        <th style="width:110px;">
            Picture
        </th>
        <th style="width:350px;">
            Product Data
        </th>
        <th style="width:75px;">
            Price
        </th>
        <th style="width:75px;">
            On Hand
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
        </td>
        <td>
             <img src="~/Content/Images/Products/@item.ImageFile"
                  style="width:85px; height:100px;"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
            <br/>
            <br />
            @Html.DisplayFor(modelItem => item.ShortDescription)
            <br />
            @Html.DisplayFor(modelItem => item.LongDescription)
            <br />
            @Html.DisplayFor(modelItem => item.CategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnHand)
        </td>
    </tr>
}

</table>
